argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asgiref==3.7.2
certifi==2023.11.17
cffi==1.16.0
Django==5.0
django-minio-storage==0.5.7
gunicorn==21.2.0
minio==7.2.0
numpy==1.26.2
opencv-python-headless==4.8.1.78
packaging==23.2
pip-autoremove==0.10.0
psycopg2==2.9.9
pycparser==2.21
pycryptodome==3.19.0
setuptools==69.0.2
sqlparse==0.4.4
urllib3==2.1.0
